@use "utils" as *;
@use "global" as *;

.calender {
  &.libraryMain {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 250, 239);
    border-radius: 32px 32px 32px 32px;
    overflow: hidden;
  }
  .librarySection {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .flexRow {
    position: relative;
    display: flex;
    margin: 67px auto 165px;
    width: 86.03%;
    max-width: 1465.9453125px;
    @include lg {
      flex-direction: column;
      align-items: center;
      gap: 30px 0px;
    }
    @include md {
      margin: 67px auto 150px;
    }
    @include xs {
      margin: 67px auto 80px;
    }
    @include tn {
      margin: 50px auto;
    }
  }
  .flexCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0px;
    margin: 9px 0px 0px;
    width: 1338px;
    min-width: 0px;
    @include lg {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
  }
  .headerRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 95.81%;
    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }
  .pageTitle {
    position: relative;
    font: 500 40px/1 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    letter-spacing: -0.4px;
    @include md {
      align-items: flex-start;
      font-size: 36px;
    }
    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
    @include xxs {
      font-size: 32px;
    }
  }
  .navRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 2px 0px 12px;
    width: 229px;
    min-width: 0px;
    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
    @include tn {
      column-gap: 8px;
    }
  }
  .navItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    text-align: center;
    @include md {
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .infoCol {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px 0px;
    width: 95.96%;
    @include tn {
      gap: 50px 0px;
    }
  }
  .dateRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 0px 0px 0px 13.55%;
    width: 767px;
    max-width: 85%;
    @include xl {
      margin: 0px auto;
    }
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }
  .dateText {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 63px 0px 33px;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .dateImage {
    position: relative;
    width: 399px;
    min-width: 0px;
    object-fit: cover;
    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
      max-width: 399px;
    }
  }
  .contentCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 105px 0px;
    @include xs {
      gap: 80px 0px;
    }
    @include tn {
      gap: 50px 0px;
    }
  }
  .dayRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: 100%;
    @include sm {
      flex-direction: column;
      gap: 30px 10px;
    }
  }
  .dayContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0px;
    width: 302px;
    min-width: 0px;
    background-color: rgb(237, 239, 228);
    border-radius: 24px 24px 24px 24px;
    padding: 31px 14px 142px 16px;
    outline: 3px solid rgb(225, 228, 217);
    outline-offset: -3px;
    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
    @include xs {
      padding: 31px 14px 80px 16px;
    }
    @include tn {
      padding: 31px 8px 50px 8px;
    }
  }
  .dayTitle {
    position: relative;
    width: 219.9921875px;
    max-width: 85%;
    font: 400 32px/1.29 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 30px;
    }
    @include xxs {
      font-size: 26px;
    }
  }
  .daySubtitle {
    position: relative;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .summaryContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 301px;
    min-width: 0px;
    background-color: rgb(237, 239, 228);
    border-radius: 24px 24px 24px 24px;
    outline: 3px solid rgb(225, 228, 217);
    outline-offset: -3px;
    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
  }
  .summaryCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0px;
    margin: 27px 13px 152px 18px;
    @include md {
      margin: 27px 13px 150px 18px;
    }
    @include xs {
      margin: 27px 13px 80px 16px;
    }
    @include tn {
      margin: 27px 8px 50px;
    }
  }
  .summaryTitle {
    position: relative;
    width: 152.0078125px;
    max-width: 85%;
    font: 400 32px/1.29 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 30px;
    }
    @include xxs {
      font-size: 26px;
    }
  }
  .summarySubtitle {
    position: relative;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .midWeekContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px 0px;
    width: 301px;
    min-width: 0px;
    background-color: rgb(237, 239, 228);
    border-radius: 24px 24px 24px 24px;
    padding: 35px 24px 158px 30px;
    outline: 3px solid rgb(225, 228, 217);
    outline-offset: -3px;
    @include md {
      padding: 35px 24px 150px 30px;
    }
    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
    @include xs {
      padding: 35px 24px 80px 30px;
    }
    @include tn {
      padding: 35px 8px 50px 8px;
    }
  }
  .midWeekTitle {
    position: relative;
    font: 400 32px/1.29 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 30px;
    }
    @include xxs {
      font-size: 26px;
    }
  }
  .midWeekSubtitle {
    position: relative;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .weekendRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 842px;
    max-width: 85%;
    @include tn {
      column-gap: 8px;
    }
  }
  .weekendContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 343px;
    min-width: 0px;
    background-color: rgb(237, 239, 228);
    border-radius: 24px 24px 24px 24px;
    outline: 3px solid rgb(225, 228, 217);
    outline-offset: -3px;
  }
  .weekendCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px 0px;
    margin: 28px auto 161px;
    width: 264px;
    max-width: 85%;
    @include md {
      margin: 28px auto 150px;
    }
    @include xs {
      margin: 28px auto 80px;
    }
    @include tn {
      margin: 28px auto 50px;
    }
  }
  .weekendTitle {
    position: relative;
    width: 184.0078125px;
    max-width: 85%;
    font: 400 32px/1.29 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 30px;
    }
    @include xxs {
      font-size: 26px;
    }
  }
  .weekendSubtitle {
    position: relative;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .endWeekContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px 0px;
    width: 328px;
    min-width: 0px;
    background-color: rgb(237, 239, 228);
    border-radius: 24px 24px 24px 24px;
    padding: 29px 29px 163px 31px;
    outline: 3px solid rgb(225, 228, 217);
    outline-offset: -3px;
    @include md {
      padding: 29px 29px 150px 31px;
    }
    @include xs {
      padding: 29px 16px 80px 16px;
    }
    @include tn {
      padding: 29px 8px 50px 8px;
    }
  }
  .endWeekTitle {
    position: relative;
    width: 125.984375px;
    max-width: 85%;
    font: 400 32px/1.29 "Newsreader", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 30px;
    }
    @include xxs {
      font-size: 26px;
    }
  }
  .endWeekSubtitle {
    position: relative;
    font: 400 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(20, 30, 12);
    @include md {
      align-items: flex-start;
      font-size: 18px;
    }
    @include xxs {
      font-size: 16px;
    }
  }
  .logoutButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 844px;
    min-width: 121px;
    font: 600 20px/1.29 "Libre Franklin", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(71, 103, 48);
    border-radius: 24.5px 24.5px 24.5px 24.5px;
    padding: 11.5px 24px 11.5px 24px;
    @include lg {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      min-width: unset;
    }
  }
}
