<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Staff_fix.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="staff-fix root">
      /*🚩134 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
      adaptability.❗*/
      <div class="rect"></div>
      <div class="info">Show</div>
      <div class="rect1"></div>
      <div class="info1">10</div>
      <img class="image" src="/assets/2fe88f24063722a0ded460d4d71f864c.svg" alt="alt text" />
      <div class="info2">entries</div>
      <img class="image1" src="/assets/6d58f981e7a186a308ad842f9b6d7c0e.svg" alt="alt text" />
      <div class="info11">Search...</div>
      <div class="rect2"></div>
      <img class="image11" src="/assets/2f767e02edd9a90798fd07d1229dfbf9.svg" alt="alt text" />
      <div class="info21">Add Customer</div>
      <div class="rect3"></div>
      <div class="text">Tracking ID</div>
      <div class="text1">Product</div>
      <img class="image12" src="/assets/09a2c2a78fc56f689b1fe5d21a0ac1ef.svg" alt="alt text" />
      <div class="text2">Customer</div>
      <img class="image13" src="/assets/d66ee99a3353dd3936e137f889f64b72.svg" alt="alt text" />
      <div class="text3">Date</div>
      <img class="image14" src="/assets/09a2c2a78fc56f689b1fe5d21a0ac1ef.svg" alt="alt text" />
      <div class="text4">Amount</div>
      <div class="text5">Payment Mode</div>
      <div class="text6">Status</div>
      <img class="image15" src="/assets/d66ee99a3353dd3936e137f889f64b72.svg" alt="alt text" />
      <div class="text7">Action</div>
      <div class="rect4"></div>
      <div class="text11">#20462</div>
      <div class="text12">Matt Dickerson</div>
      <div class="text13">13/05/2022</div>
      <div class="text14">$4.95</div>
      <div class="text15">Tranfer Bank</div>
      <div class="rect5"></div>
      <div class="info3">Delivered</div>
      <img class="image2" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image21"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect6"></div>
      <div class="text16">#18933</div>
      <div class="text17">Wiktoria</div>
      <div class="text18">22/05/2022</div>
      <div class="text19">$8.95</div>
      <div class="text110">Cash on Delivery</div>
      <div class="rect51"></div>
      <div class="info31">Delivered</div>
      <img class="image22" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image23"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect41"></div>
      <div class="text111">#45169</div>
      <div class="text112">Trixie Byrd</div>
      <div class="text113">15/06/2022</div>
      <div class="text114">$1,149.95</div>
      <div class="text115">Cash on Delivery</div>
      <div class="rect7"></div>
      <div class="info4">Process</div>
      <img class="image24" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image25"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect61"></div>
      <div class="text116">#34304</div>
      <div class="text117">Brad Mason</div>
      <div class="text118">06/09/2022</div>
      <div class="text119">$899.95</div>
      <div class="text120">Tranfer Bank</div>
      <div class="rect71"></div>
      <div class="info41">Process</div>
      <img class="image26" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image27"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect42"></div>
      <div class="text121">#17188</div>
      <div class="text122">Sanderson</div>
      <div class="text123">25/09/2022</div>
      <div class="text124">$22.95</div>
      <div class="text125">Cash on Delivery</div>
      <div class="rect8"></div>
      <div class="info5">Canceled</div>
      <img class="image28" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image29"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect62"></div>
      <div class="text126">#73003</div>
      <div class="text127">Jun Redfern</div>
      <div class="text128">04/10/2022</div>
      <div class="text129">$54.95</div>
      <div class="text130">Tranfer Bank</div>
      <div class="rect52"></div>
      <div class="info32">Delivered</div>
      <img class="image210" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image211"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect43"></div>
      <div class="text131">#58825</div>
      <div class="text132">Miriam Kidd</div>
      <div class="text133">17/10/2022</div>
      <div class="text134">$174.95</div>
      <div class="text135">Tranfer Bank</div>
      <div class="rect53"></div>
      <div class="info33">Delivered</div>
      <img class="image212" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image213"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect63"></div>
      <div class="text136">#44122</div>
      <div class="text137">T-shirt</div>
      <div class="text138">Dominic</div>
      <div class="text139">24/10/2022</div>
      <div class="text140">$249.95</div>
      <div class="text141">Cash on Delivery</div>
      <div class="rect54"></div>
      <div class="info34">Delivered</div>
      <img class="image214" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image215"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect44"></div>
      <div class="text142">#89094</div>
      <div class="text143">Shanice</div>
      <div class="text144">01/11/2022</div>
      <div class="text145">$899.95</div>
      <div class="text146">Tranfer Bank</div>
      <div class="rect81"></div>
      <div class="info51">Canceled</div>
      <img class="image216" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image217"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect64"></div>
      <div class="text147">#85252</div>
      <div class="text148">Poppy-Rose</div>
      <div class="text149">22/11/2022</div>
      <div class="text150">$6.948</div>
      <div class="text151">Tranfer Bank</div>
      <div class="rect72"></div>
      <div class="info42">Process</div>
      <img class="image218" src="/assets/67b0d25a8cb51a09ebd10fdfe736de95.svg" alt="alt text" /><img
        class="image219"
        src="/assets/8a23528c79b37352b7e1b9caa7324733.svg"
        alt="alt text"
      />
      <div class="rect65"></div>
      <div class="info12">Previous</div>
      <div class="rect9"></div>
      <div class="info6">1</div>
      <div class="rect10"></div>
      <div class="info7">2</div>
      <div class="rect101"></div>
      <div class="info8">3</div>
      <div class="info13">Next</div>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
