<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Profile.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="profile main">
      <section class="userSection">
        <div class="flexCol">
          <div class="userInfo">
            <h2 class="welcomeTitle">Welcome, Amanda</h2>
            <h5 class="currentDate">Tue, 07 June 2022</h5>
          </div>
          <div class="userAvatarSection">
            <div class="avatarRect"></div>
            <div class="editGroup">
              <div class="editWrapper"><h5 class="editText">Edit</h5></div>
              <div class="detailsRow">
                <div class="flexCol3">
                  <div class="userDetailsRow">
                    <img class="userImage" src="/assets/4a321118324651850bf497ee1326635a.png" alt="alt text" />
                    <div class="flexCol4">
                      <h3 class="userName">Alexa Rawles</h3>
                      <h5 class="userEmail">alexarawles@gmail.com</h5>
                    </div>
                  </div>
                  <div class="userAttributes">
                    <h5 class="nameLabel">Name</h5>
                    <div class="nameBox"><h5 class="namePlaceholder">Your First Name</h5></div>
                    <h5 class="genderLabel">Gender</h5>
                    <div class="genderBox">
                      <img class="genderIcon" src="/assets/5fdf4482f596b3e07c16e7316ccec7ef.svg" alt="alt text" />
                      <h5 class="genderPlaceholder">Your First Name</h5>
                    </div>
                  </div>
                </div>
                <div class="otherAttributes">
                  <h5 class="idLabel">Id</h5>
                  <div class="idPlaceholder">Your First Name</div>
                  <h5 class="countryLabel">Country</h5>
                  <div class="countryGroup">
                    <div class="countryPlaceholder">Your First Name</div>
                    <img class="countryFlagIcon" src="/assets/875d4b73f256ad4d50c52fac00211a66.svg" alt="alt text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
