<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Rbook.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="rbook main">
      <section class="section1">
        /*🚩51 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
        adaptability.❗*/
        <div class="rect"></div>
        <h3 class="subtitle">Heirloom tomato</h3>
        <h3 class="subtitle1">$5.99 / lb</h3>
        <div class="rect1"></div>
        <h3 class="subtitle2">Order summary</h3>
        <h5 class="highlight">Total reading online</h5>
        <h5 class="highlight1">50000</h5>
        <h5 class="highlight2">Total reserving</h5>
        <h5 class="highlight3">$3.99</h5>
        <h5 class="highlight11">Total</h5>
        <h5 class="highlight12">$33.43</h5>
        <h5 class="highlight4">Total reserving</h5>
        <h5 class="highlight5">$3.99</h5>
        <h3 class="subtitle21">..... items</h3>
        <h1 class="hero_title">Book</h1>
        <hr class="line" size="1" />
        <div class="rect3"></div>
        <h3 class="subtitle3">Search for files, plugins, and creators</h3>
        <div class="box" style="--src:url(/assets/c6cd73c92a0745af3e9e01d543a5204e.svg)">
          <h3 class="subtitle4">search</h3>
        </div>
        <h3 class="subtitle41">search</h3>
        <h1 class="title">Hust Libary</h1>
        <h5 class="highlight6">Home</h5>
        <h5 class="highlight7">My profile</h5>
        <div class="rect4"></div>
        <h5 class="highlight8">Log out</h5>
        <div class="rect2"></div>
        <h3 class="subtitle5">Heirloom tomato</h3>
        <h3 class="subtitle11">$5.99 / lb</h3>
        <div class="rect5"></div>
        <h3 class="subtitle6">Heirloom tomato</h3>
        <h3 class="subtitle12">$5.99 / lb</h3>
        <div class="rect6"></div>
        <h3 class="subtitle7">Heirloom tomato</h3>
        <h3 class="subtitle13">$5.99 / lb</h3>
        <div class="rect7"></div>
        <h3 class="subtitle8">Heirloom tomato</h3>
        <h3 class="subtitle14">$5.99 / lb</h3>
        <div class="rect8"></div>
        <h3 class="subtitle9">Heirloom tomato</h3>
        <h3 class="subtitle15">$5.99 / lb</h3>
        <div class="rect51"></div>
        <h2 class="medium_title">Plugins</h2>
        <img class="image1" src="/assets/black_square.png" alt="alt text" />
        <div class="rect61"></div>
        <h2 class="medium_title1">Plugins</h2>
        <div class="rect71"></div>
        <h2 class="medium_title2">Plugins</h2>
        <div class="rect72"></div>
        <h2 class="medium_title3">Plugins</h2>
        <div class="rect73"></div>
        <h2 class="medium_title4">Plugins</h2>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
